/*!
Design Custom by Alphasquad Inc. @2016
(http://danangalvaris.com)
Description: Kreston Indonesia - web apps
*/
/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */

 /* FREE GOOGLE FONT */
 /* 
 @import url(http://fonts.googleapis.com/css?family=Montserrat); 
 @import url('https://fonts.googleapis.com/css?family=Raleway'); */
 @import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}

.set-radius-zero {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.content-wrapper {
    margin-top: 40px;
    min-height: 600px;
    padding-bottom: 60px;
}

.page-head-line {
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid #003471;
    text-transform: uppercase;
    color: #003471;
    font-size: 20px;
    margin-bottom: 40px;
}

.btn {
    border-radius: 4px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.progress {
    height: 8px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.login-icon {
    height: 60px;
width: 60px;
padding: 13px;
border-radius: 50%;
font-size: 30px;
margin-bottom: 20px;
color: #fff;
text-align: center;
cursor:pointer;
background-color:#003471;
-webkit-border-radius:50%;
    -moz-border-radius:50%;
}
/* =============================================================
   HEADER SECTION STYLES
 ============================================================ */
header {
    background-color: #003471;
    color: #fff;
    padding: 10px;
    text-align: right;
}


/* =============================================================
   LOGO SECTION STYLES
 ============================================================ */
.left-div {
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    float: right;
}

.navbar-brand {
    width: 250px;
    padding-top: 10px;
}

/* USER SETTINGS DIV */
.user-settings-wrapper .nav > li > a {
    position: relative;
    display: block;
    padding: 15px 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #fff;
    color: #000;
}

.user-settings-wrapper {
    margin-top: 10px;
}

    .user-settings-wrapper li {
        display: inline-block;
    }

    .user-settings-wrapper .dropdown-settings {
        width: 200px;
        padding: 10px;
        left: -140px;
    }

    .user-settings-wrapper .nav > li > a:hover,.user-settings-wrapper .nav > li > a:focus {
        text-decoration: none;
        background-color: #999!important;
    }

    .user-settings-wrapper img {
        height: 64px;
        width: 64px;
        border: 1px solid #000000;
    }

    .user-settings-wrapper .dropdown-menu {
        margin: 0px;
        border-radius: 10px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }

    .user-settings-wrapper .btn {
        border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }

    .user-settings-wrapper .media-heading {
        padding-top: 10px;
    }

/* MENU LINKS SECTION*/

.menu-section {
    background-color: #3D3D3D;
}

#menu-top a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
}

.menu-top-active {
    background-color: #005436;
}

.menu-section .nav > li > a:hover,.menu-section .nav > li > a:focus {
    background-color: #003471!important;
}

.menu-section .dropdown-menu > li > a:hover,.menu-section .dropdown-menu > li > a:focus {
    background-color: #003471!important;
}

.navbar-inverse {
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, #000 0%, #333 100%) repeat scroll 0 0;
    border-color: transparent;
}

.navbar-toggle {
    background-color: #003471;
    border: 1px solid #fff;
}

.navbar {
    margin-bottom: 0px;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */
footer {
    padding: 10px;
    color: #fff;
    font-size: 12px;
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, #333 0%, #999 100%) repeat scroll 0 0;
}

    footer a, footer a:hover {
        color: #fff;
        text-decoration: none;
    }

/*==============================================
    DASHBOARD  STYLES    
 =============================================*/

/* DASHBOARD ICONS */

.bk-clr-one {
    background-color: #B9B739;
}

.bk-clr-two {
    background-color: #F94C4C;
}

.bk-clr-three {
    background-color: #119c7e;
}

.bk-clr-four {
    background-color: #b739b9;
}

.dashboard-div-icon {
    height: 75px;
    width: 75px;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.dashboard-div-wrapper {
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-bottom: 50px;
}

    .dashboard-div-wrapper .progress {
        height: 2px;
    }

/* NOTICE BOARD */


.notice-board .panel {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.notice-board ul {
    padding-left: 0px;
    list-style: none;
}

.notice-board li {
    padding: 10px;
    border-bottom: 1px solid #E5E5E5;
}

    .notice-board li span {
        margin-right: 10px;
        border: 1px solid #DBDBDB;
        padding: 5px;
    }

    .notice-board li a, li a:hover {
        text-decoration: none;
        color: #000;
    }

/* SOCIAL BUTTONS */
.btn-social {
    color: white;
    opacity: 0.8;
}

    .btn-social:hover {
        color: white;
        opacity: 1;
        text-decoration: none;
    }

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-linkedin {
    background-color: #0e76a8;
}

.btn-google {
    background-color: #c32f10;
}

/* LOGIN STUFF */
.heading1 {
  letter-spacing: 2px;
  font-size: 10pt;
  text-transform: uppercase;
  background-color: #236f38;
  border-radius: 4px;
  color: #fff;
}

.login-title {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.dateField {
	padding: 2px 2px 1px;
	width: 200px;
	display: inline-block;
	height: 42px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	margin-bottom: 5px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}
.dateInput {
	border: 0;
	width: 160px;
	float: left;
	background: #fff;
	line-height: 30px;
}
.dateInput:hover {
	border: 0;
}
.calendarLink {
	display: block;
	width: 22px;
	height: 22px;
	float: right;
	padding-top: 4px;
}
.calendarLink:before {
	font-family: 'FontAwesome';
	content: '\f073';
	font-size: 18px;
	color: #000;
}
::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

/* Calendar */
#calendarPop {
    padding: 5px;
    background: #CCCCCC;
    border: 1px solid #666666;
}

.calendar {
    width: 100%;
    clear: both;
    font-size: 90%;
}

.calendar th {
    background: #FFFFFF;
}

.calendar td {
    text-align: center;
}

.calendar td a {
    color: #555555;
    display: block;
}

.calendar td.selected {
    background-color:   #00ff70;
}

.monthyearselect {
    background: #FFFFFF;
}
#calendarPop {
	background-color: #31353E;
	margin-left: -1px;
	margin-top: -1px;
	padding: 0;
	color: #666;
	border: none;
}
#calendarPop select {
	padding: 5px 1px;
	height: auto;
	color: #666;
}
.calendar {
	background-color: #f2f2f2;
	clear: both;
}
.calendar td {
	text-align: center;
}
.calendar th {
	background-color: #f2f2f2 !important;
	color: #333;
	font-weight: bold;
	text-align: center;
	padding: 5px 2px;
}
.calendar a {
	color: #666;
	padding: 5px 0px;
}
.monthyearselect th {
	background-color: #ddd !important;
	border-top: solid 1px #ddd;
}
.monthyearselect th a {
	font-size: 14px;
	padding: 0px 5px;
}
.calendar a:hover,
.calendar td.selected {
	background-color: #ff0;
}
#clockContainer {
	visibility: hidden !important;
	display: none !important;
	height: 0px;
	margin: 0;
	padding: 0;
}
#calendarPop div:nth-child(1),
#calendarPop div:nth-child(2) {
	padding: 2px 8px;
	background-color: #31353E;
	color: #fff;
}

/*==================================================================================================================
	autocomplete css
==================================================================================================================*/
.ui-autocomplete {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	display: none;
	min-width: 160px;
	_width: 160px;
	padding: 4px 8px;
	margin: 2px 0 0 0;
	list-style: none;
	background-color: #ffffff;
	border-color: #ccc;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*   color  
===================================*/

/*   background color   */
.bg-green1 {
	background-color: #99bc2b;
}
.bg-green2 {
	background-color: #003471;
}
.bg-green3 {
	background-color: #005436;
}
.bg-green4 {
	background-color: #00231b;
}
.bg-black1 {
	background-color: #3a3e4a;
}
.bg-grey1 {
	background-color:#f2f2f2;	
}
.bg-grey2 {
	background-color: #f8f8f8;
}
.bg-white {
	background-color: #ffffff;
}

/*   text color   */
.txt-green1 {
	color: #99bc2b;
}
.txt-green2 {
	color: #003471;
}
.txt-green3 {
	color: #005436;
}
.txt-green4 {
	color: #00231b;
}
.txt-yellow1 {
	color: #fcf800;
}
.txt-yellow2 {
	color: #fcdf16;
}
.txt-yellow3 {
	color: #f8c31c;
}
.txt-yellow4 {
	color: #da5121;
}
.txt-yellow5 {
	color: #3f2213;
}
.txt-grey1 {
	color: #c1c5c8;
}
.txt-grey2 {
	color: #8a8c8f!important;
}
.txt-grey3 {
	color: #32383d;
}
.txt-black1 {
	color: #3a3e4a;
}
.txt-black2 {
	color: #252934;
}
.txt-black3 {
	color: #262733;
}
.txt-white {
	color: #ffffff;	
}
.txt-shadow{
	-webkit-text-shadow: 1px 1px 3px rgba(104,104,104,1);
	-moz-text-shadow: 1px 1px 3px rgba(104,104,104,1);
	text-shadow: 1px 1px 3px rgba(104,104,104,1);
}
/*   button color   */
.btn {
    font-weight: bold;
	border-radius: 4px!important;
}
.btn-alpha_blue {
	color: #ffffff;
	background-color: #00285e;
	border-color: #00285e;
	
	-webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}
.btn-alpha_blue:hover,
.btn-alpha_blue:focus,
.btn-alpha_blue.focus,
.btn-alpha_blue:active,
.btn-alpha_blue.active,
.open > .dropdown-toggle.btn-alpha_blue {
	color: #00285e;
	background-color: #ffffff;
	border-color: #00285e;
}
.btn-alpha_blue:active,
.btn-alpha_blue.active,
.open > .dropdown-toggle.btn-alpha_blue {
	background-image: none;
}
.btn-rad {
	border-radius:3px!important;	
}
.termcon {
    padding: 0;
    margin: 0;
    margin-top: -2px;
}
.alert-deere {
	color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
/*   end button color   */
/*   End color  
===================================*/

iframe,
textarea,
input[type="password"],
input[type="text"] {
	display: block;
	width: 100%;
	height: 38px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	margin-bottom: 5px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	overflow: hidden;
}

#listsFrame {
	min-height: 370px !important;
	border: none;
	padding: 15px 10px;
	margin:0;
}

/* =====   CMS   ===== */
.bg-login {
	background:url(../img/backend/bg_login.png) repeat-x;
	background-size: contain;
}
.bg-login .aksara{
	background:url(../img/backend/aksara.jpg) no-repeat center;
	position:absolute;
	bottom:10%;
	width:100%;
	background-size:contain;
	height:400px;
}

/* =====   end CMS   ===== */

/* ===== CUSTOM ========== */
/* Header
 ========================================== */
.s-header {
  width: 100%;
  padding: 0 50px 20px 50px;
  top: 25px;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.05);
}

/* Brand
 ========================================== */
.s-brand {
  color: #fff;
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .s-brand {
    text-align: left;
  }
}
.s-brand:visited,
.s-brand:active,
.s-brand:hover {
  color: #fff;
}
.s-brand h1 {
  text-transform: uppercase;
  font-size: 20pt;
  margin: 0;
  font-weight: lighter;
}
.s-brand-tagline {
  font-size: 10pt;
}
.s-logo {
  display: block;
  padding: 0;
  margin: 10px auto;
}
@media only screen and (min-width: 768px) {
  .s-logo {
    float: left;
    padding: 0 20px 0 0;
  }
}
/* Menu
 ================================ */
.s-pmenu {
  position: relative;
  margin: 0 auto;
  top: 10px;
}
@media (max-width: 468px) {
  .s-pmenu {
    position: absolute;
    margin: 0 auto;
    left: 46%;
    top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .s-pmenu {
    top: -50px;
  }
}
.s-menu {
  position: relative;
  margin: 0 auto;
}
.s-menu a {
  display: block;
  color: #fff;
  background-color: #fff;
  width: 30px;
  border-radius: 50px;
  padding: 15px 0 0 8px;
  height: 30px;
  margin: 20px auto 0 auto;
}
@media only screen and (min-width: 768px) {
  .s-menu {
    z-index: 2099;
    position: absolute;
    left: auto;
    right: 15px;
    top: 20px;
    margin: 0;
  }
  .s-menu a {
    margin: 0;
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .s-menu-toggle {
    width: 19px;
    height: 20px;
    display: block;
    vertical-align: top;
    padding-top: 3px;
    margin-left: 15px;
  }
}
.s-menu-toggle span,
.s-menu-toggle span:before,
.s-menu-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 1px;
  width: 15px;
  background: #282828;
  position: absolute;
  display: block;
  content: '';
  transition: all 500ms ease-in-out;
}
.s-menu-toggle span:before {
  top: -3px;
}
.s-menu-toggle span:after {
  bottom: -3px;
}
.s-menu-toggle:hover span:before {
  top: -6px;
}
.s-menu-toggle:hover span:after {
  bottom: -6px;
}
.s-menu-toggle.active span {
  background-color: transparent;
}
.s-menu-toggle.active span:before,
.s-menu-toggle.active span:after {
  top: 0;
}
.s-menu-toggle.active span:before {
  transform: rotate(45deg);
}
.s-menu-toggle.active span:after {
  transform: rotate(-45deg);
}
.s-menu-content {
  background-color: #eee;
  width: 100%;
  right: -100%;
  position: fixed;
  top: 0;
  height: 100%;
  text-align: center;
  transition: all 500ms ease-in-out;
  z-index: 4099;
  overflow-y: auto;
  overflow-x: hidden;
}
@media only screen and (min-width: 768px) {
  .s-menu-content {
    padding: 10px 30px;
    width: 300px;
    right: -300px;
  }
}
.s-menu-content.active {
  right: 0;
}
.s-menu-content ul {
  list-style: none;
  margin: 0;
  padding: 0 0 75px 0;
}
.s-menu-content li {
  line-height: 30pt;
}
.s-menu-content a {
  font-size: 8pt;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
}
.s-menu-content h1 {
  font-weight: lighter !important;
  font-size: 20pt;
  text-transform: uppercase;
  border-bottom: double 3px #d5d5d5;
  padding-bottom: 30px;
  padding-top: 0;
}
.s-menu-content .s-menu-toggle {
  position: absolute;
  top: 45px;
  right: 45px;
  width: 30px;
  height: 30px;
}
.s-menu-content .s-menu-toggle span,
.s-menu-content .s-menu-toggle span:before,
.s-menu-content .s-menu-toggle span:after {
  background-color: #333;
}
.s-menu-content .s-menu-toggle:hover span,
.s-menu-content .s-menu-toggle:hover span:before,
.s-menu-content .s-menu-toggle:hover span:after {
  background-color: #000;
}
.s-menu-content .s-menu-toggle span {
  transform: rotate(-45deg);
  top: 0;
}
.s-menu-content .s-menu-toggle span:before {
  opacity: 0;
}
.s-menu-content .s-menu-toggle span:after {
  transform: rotate(-90deg);
  top: 0;
}
.s-menu-info {
  text-transform: uppercase;
  letter-spacing: 4px;
  border-top: double 3px #d5d5d5;
  padding-top: 25px;
  color: #000;
}
.s-menu-info label {
  font-size: 8pt;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #bbb;
  padding: 0 0 12px 0;
  margin: 0;
}
/* Custom Select Dropdown
 ================================ */
.custom-dropdown--large {
  font-size: 1.5em;
}
.custom-dropdown--small {
  font-size: 1em;
}
.custom-dropdown__select {
  font-size: inherit;
  /* inherit size from .custom-dropdown */
  padding: .5em;
  /* add some space*/
  margin: 0;
  /* remove default margins */
}
.custom-dropdown__select--white {
  background-color: #fff;
  color: #444;
}
.custom-dropdown__select--emerald {
  background-color: #20b390;
  color: #fff;
}
.custom-dropdown__select--red {
  background-color: #d53a22;
  color: #fff;
}
@supports (pointer-events: none) and
       ((-webkit-appearance: none) or
       (-moz-appearance: none) or
       (appearance: none)) {
  .custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .custom-dropdown__select {
    padding-right: 5em;
    /* accommodate with the pseudo elements for the dropdown arrow */
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .custom-dropdown::before,
  .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }
  .custom-dropdown::after {
    /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -0.5em;
  }
  .custom-dropdown::before {
    /*  Custom dropdown arrow cover */
    width: 2.6em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 0 0 0;
  }
  .custom-dropdown__select[disabled] {
    color: rgba(0, 0, 0, 0.3);
  }
  .custom-dropdown.custom-dropdown--disabled::after {
    color: rgba(0, 0, 0, 0.1);
  }
  /* White dropdown style */
  .custom-dropdown--white::before {
    background-color: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
  .custom-dropdown--white::after {
    color: rgba(0, 0, 0, 0.9);
  }
  /* Emerald dropdown style */
  .custom-dropdown--emerald::before {
    background-color: #1aa181;
  }
  .custom-dropdown--emerald::after {
    color: rgba(0, 0, 0, 0.4);
  }
  /* Red dropdown style */
  .custom-dropdown--red::before {
    background-color: #d53a22;
  }
  .custom-dropdown--red::after {
    color: rgba(0, 0, 0, 0.4);
  }
  /* FF only temporary & ugly fixes */
  /* the "appearance: none" applied on select still shows a dropdown arrow on Firefox */
  /* https://bugzilla.mozilla.org/show_bug.cgi?id=649849 */
  @-moz-document url-prefix() {
    .custom-dropdown__select {
      padding-right: 0.9em;
    }
    .custom-dropdown--large .custom-dropdown__select {
      padding-right: 1.3em;
    }
    .custom-dropdown--small .custom-dropdown__select {
      padding-right: 0.5em;
    }
  }
}
/* Background
 ================================ */
.s-background {
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.s-background > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-size: cover;
}
.s-background .slider {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  background-size: cover;
}
.gradients {
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1099;
  opacity: 0.75;
}
.gradients div {
  height: 100%;
  position: absolute;
  width: 100%;
}
.red {
  background: #054365;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #054365), color-stop(100%, #ff0000));
  background: -webkit-linear-gradient(45deg, #054365 0%, #ff0000 100%);
  background: -moz-linear-gradient(45deg, #054365 0%, #ff0000 100%);
  background: -o-linear-gradient(45deg, #054365 0%, #ff0000 100%);
  background: -ms-linear-gradient(45deg, #054365 0%, #ff0000 100%);
  background: linear-gradient(45deg, #054365 0%, #ff0000 100%);
}
.pink {
  background: #fc963f;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #e02d6f), color-stop(100%, #fc963f));
  background: -webkit-linear-gradient(45deg, #e02d6f 0%, #fc963f 100%);
  background: -moz-linear-gradient(45deg, #e02d6f 0%, #fc963f 100%);
  background: -o-linear-gradient(45deg, #e02d6f 0%, #fc963f 100%);
  background: -ms-linear-gradient(45deg, #e02d6f 0%, #fc963f 100%);
  background: linear-gradient(45deg, #e02d6f 0%, #fc963f 100%);
}
.purple {
  background: #edaa9c;
  background: -webkit-gradient(left bottom, right 45deg, color-stop(0%, #8217b7), color-stop(100%, #edaa9c));
  background: -webkit-linear-gradient(45deg, #8217b7 0%, #edaa9c 100%);
  background: -moz-linear-gradient(45deg, #8217b7 0%, #edaa9c 100%);
  background: -o-linear-gradient(45deg, #8217b7 0%, #edaa9c 100%);
  background: -ms-linear-gradient(45deg, #8217b7 0%, #edaa9c 100%);
  background: linear-gradient(45deg, #8217b7 0%, #edaa9c 100%);
}
.default,
.blue {
  background: #05c6d1;
  background: -webkit-gradient(left bottom, right 45deg, color-stop(0%, #194fb8), color-stop(100%, #05c6d1));
  background: -webkit-linear-gradient(45deg, #194fb8 0%, #05c6d1 100%);
  background: -moz-linear-gradient(45deg, #194fb8 0%, #05c6d1 100%);
  background: -o-linear-gradient(45deg, #194fb8 0%, #05c6d1 100%);
  background: -ms-linear-gradient(45deg, #194fb8 0%, #05c6d1 100%);
  background: linear-gradient(45deg, #194fb8 0%, #05c6d1 100%);
}
.green {
  background: #e7dd4b;
  background: -webkit-gradient(left bottom, right 45deg, color-stop(0%, #44cd9e), color-stop(100%, #e7dd4b));
  background: -webkit-linear-gradient(45deg, #44cd9e 0%, #e7dd4b 100%);
  background: -moz-linear-gradient(45deg, #44cd9e 0%, #e7dd4b 100%);
  background: -o-linear-gradient(45deg, #44cd9e 0%, #e7dd4b 100%);
  background: -ms-linear-gradient(45deg, #44cd9e 0%, #e7dd4b 100%);
  background: linear-gradient(45deg, #44cd9e 0%, #e7dd4b 100%);
}
.mint {
  background: #dfcee5;
  background: -webkit-gradient(left bottom, right 45deg, color-stop(0%, #0fa9a8), color-stop(100%, #dfcee5));
  background: -webkit-linear-gradient(45deg, #0fa9a8 0%, #dfcee5 100%);
  background: -moz-linear-gradient(45deg, #0fa9a8 0%, #dfcee5 100%);
  background: -o-linear-gradient(45deg, #0fa9a8 0%, #dfcee5 100%);
  background: -ms-linear-gradient(45deg, #0fa9a8 0%, #dfcee5 100%);
  background: linear-gradient(45deg, #0fa9a8 0%, #dfcee5 100%);
}
.beach {
  background: #e5d8b9;
  background: -webkit-gradient(left bottom, right 45deg, color-stop(0%, #2cbedf), color-stop(100%, #e5d8b9));
  background: -webkit-linear-gradient(45deg, #2cbedf 0%, #e5d8b9 100%);
  background: -moz-linear-gradient(45deg, #2cbedf 0%, #e5d8b9 100%);
  background: -o-linear-gradient(45deg, #2cbedf 0%, #e5d8b9 100%);
  background: -ms-linear-gradient(45deg, #2cbedf 0%, #e5d8b9 100%);
  background: linear-gradient(45deg, #2cbedf 0%, #e5d8b9 100%);
}
.current {
  opacity: 0;
}
.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-size: cover;
  -webkit-animation: slideImg 16s infinite;
  animation: slideImg 16s infinite;
  opacity: 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
@-webkit-keyframes slideImg {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
@keyframes slideImg {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
.slider:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.slider:nth-child(2) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.slider:nth-child(3) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}
.slider:nth-child(4) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

.well-kw {
    background-color: #f2f2f2;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;	
}

.dashspace {
    border-top: 1px dashed #fff;
    margin: 15px 0;
}

.web-title {
	left : 60px;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #003471 !important;
  border-color: #337ab7;
}
/* ==== END CUSTOM ====*/

/* DAS */

